* {
  margin: 0;
  padding: 0;
}
/* Переменные цвета */
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-background-color: #ffffff;
  --secondary-background-color: #2f303a;
  --svg-primary-color: #AFB1B8;
  --cubic-transition: cubic-bezier(0.4, 0, 0.2, 1);
}
/* *************************************************** */
/* Стилизация частей страницы */
header {
  background-color: var(--primary-background-color);
}
body {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}
footer {
  background-color: var(--secondary-background-color);
}
address{
  font-style: normal;
}
img {
  display: block;
  max-width: 100%;
}
/* *************************************************** */
/* Общие правила */
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.button {
  text-decoration: none;
  border: none;
  
}
.button:focus {
  border-color: var(--accent-color);
}
.visually-hidden {
  /*
  position: absolute;
  clip: rect(1px 1px 1px 1px);  IE6, IE7 
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden; 
  */
  display: none;
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}
.svg {
  fill: currentColor;
}
/* *************************************************** */
/* Стилизация лого */
.logo {
  margin-right: 93px;
  color:#000000;
  font-family: Raleway, cursive;
  letter-spacing: 0.03em;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.logo-footer {
  color: var(--primary-background-color);
  display: inline-block;
  margin-bottom: 20px;
  margin-right: auto;
  padding-right: auto;
}
.logo-part {
  color: var(--accent-color);
}
.logo-header:focus,
.logo-footer:focus {
  color: var(--accent-color);
}
/* *************************************************** */
/* Стилизация навбара */
.header .container {
  display: flex;
  align-items: center;
}
.navigation {
  display: flex;
  align-items: center;
  height: 80px;
}
.site-nav {
  display: flex;
  padding-left: 0;
  margin: 0;
}
.nav-item:not(:last-child) {
  margin-right: 50px;
}
.nav-link, .address-link {
  align-items: center;
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
}
.nav-link {
  position: relative;
}
.nav-link.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}
.site-nav .link {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms var(--cubic-transition);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}
/* *************************************************** */
/* Стилизация навбар адреса */
.contact-nav {
  display: flex;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.contact-nav .link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms var(--cubic-transition);
}
.contact-nav .link:hover,
.contact-nav .link:focus {
  color: var(--accent-color);
}
.contact-svg {
  margin-right: 10px;
  fill: currentColor;
}
/* *************************************************** */
/* Стилизация футера */
.footer {
  padding: 60px 0;
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.street-address {
  display: block;
  color: var(--primary-background-color);
  width: 231px;
  font-size: 14px;
  line-height: 1.71;
}
.str-address:not(:last-child) {
  margin-bottom: 9px;
}
.contact-address .link {
  color: var(--primary-background-color);
  opacity: 60%;

  font-size: 14px;
  line-height: 1.71;
}
.contact-address .link:hover,
.contact-address .link:focus {
  color: var(--accent-color);
}
.join-us {
  margin-left: 70px;
}
.connected {
  color: var(--primary-background-color);
  margin-bottom: 20px;
  
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.joinus-list {
  display: flex;
}
.joinus-list-item:not(:last-child) {
  margin-right: 10px;
}
.joinus-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-background-color);
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms var(--cubic-transition);
}
.joinus-link:hover,
.joinus-link:focus {
  background-color: var(--accent-color);
}


.subscribe {
  margin-left: 93px;
}
.subscribe-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-background-color);
  margin-bottom: 20px;
}
.subscribe-form {
  display: flex;
  flex-direction: row;
}
.subscribe-input {
  display: block;
  background-color: transparent;
  color: var(--primary-background-color);
  width: 385px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding: 15px 0 15px 16px;
  outline: none;
  transition: border-color 250ms var(--cubic-transition);
}
.subscribe-input:focus {
  border-color: var(--primary-background-color);
}
.subscribe-input::placeholder {
  color:rgba(255, 255, 255, 0.6);
}
.subscribe-btn {
  background-color: var(--accent-color);
  color: var(--primary-background-color);
  padding: 10px 28px;
  margin-left: 12px;
  display: flex;
  text-align: center;
  align-items: center;
  min-width: 200px;
  border-radius: 4px;
  border: 1px solid var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  transition: box-shadow 250ms var(--cubic-transition);
  cursor: pointer;

}
.subscribe-btn-pic {
  display: inline-flex;
  fill: var(--primary-background-color);
  margin-left: 10px;
}
.submit-btn:hover,
.submit-btn:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}







/* *************************************************** */
/* Стилизация index.html */
/* Общие стилизации секций */
.section-title {
  color: var(--title-text-color);

  letter-spacing: 0.03em;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
/* *************************************************** */
/* Стилизация героя */
.hero {
  background-color: var(--secondary-background-color);
  max-width: 1600px;
  height: 600px;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
  ),
  url(../images/hero-background.jpg);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-title {
  color: var(--primary-background-color);
  padding-left: auto;
  padding-right: auto;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  /* or 136% */
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero-button {
  background-color: var(--accent-color);
  color: var(--primary-background-color);

  cursor: pointer;
  min-width: 200px;
  border-radius: 4px;
  border: 1px solid var(--accent-color);
  padding: 10px 30px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  /* identical to box height, or 187% */
  text-align: center;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
   transform: translate(-50%, -50%) scale(0.9);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  
  height: 581px;
  width: 528px;
  background-color: var(--primary-background-color);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px 32px 29px 48px;
  border-radius: 4px;
}
.form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  color: var(--title-text-color);
}
.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: var(--primary-background-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: color 250ms var(--cubic-transition);
}
.close-button:hover,
.close-button:focus {
  color: var(--accent-color);
}
.closing-cross {
  fill: currentColor;
}
.input-field {
  position: relative;
}
.form-input {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 0 12px 42px;
  outline: none;
  transition: border-color 250ms var(--cubic-transition);
}
.form-input:focus {
  border-color: var(--accent-color);
}
.label-title {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}
.input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms var(--cubic-transition);
}
.form-input:focus + .input-icon {
  fill: var(--accent-color);
}
.text-input {
  resize: none;
  outline: none;
  display: block;
  width: 448px;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding: 12px 16px;
  margin-bottom: 20px;
  transition: border-color 250ms var(--cubic-transition);
}
.text-input:focus {
  border-color: var(--accent-color);
}
textarea::placeholder {
  color:rgba(117, 117, 117, 0.5);;
}




.agreement-text {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
.agreement-checkbox {
  /* -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; */
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.agreement-text::before{
  content: '';
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  margin-right: 7px;
}
/* .icon{
    display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  margin-right: 7px;
} */
.agreement-checkbox:focus + .agreement-text::before {
  outline: 2px solid var(--title-text-color);
}
.agreement-checkbox:checked + .agreement-text::before {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  background-image: url('../images/icon-tick.svg');
  background-size: contain;
  background-origin: border-box;
}
.agreement-link {
  margin-left: 5px;
  color: var(--accent-color);
}
.submit-btn {
  background-color: var(--accent-color);
  color: var(--primary-background-color);
  display: block;
  margin: 0 auto;
  min-width: 200px;
  border-radius: 4px;
  border: 1px solid var(--accent-color);
  padding: 10px 15px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  cursor: pointer;
  transition: box-shadow 250ms var(--cubic-transition);
}
.submit-btn:hover,
.submit-btn:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
/* *************************************************** */
/* Стилизация секции "Почему стоит выбрать нас?" */
.advantages {
  padding: 94px 0;
}
.adv-title {
  margin-bottom: 10px;
}
.pick-us{
  display: flex;
  padding-left: 0;
  margin: 0;
  font-size: 14px;
  line-height: 1.71;
}
.pick-us-item {
  width: 270px;
}
.pick-us-item:not(:last-child) {
  margin-right: 30px;
}
.pick-us .title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.pick-us-svg {
  height: 120px;
  background-color: #F5F4FA;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;

  border-radius: 4px;
}
/* *************************************************** */
/* Cтилизация секции "Чем мы занимаемся" */
.what-wedo {
  padding: 0 0 94px 0;
}
.wedo-title, .clients-title {
  margin-bottom: 50px;
}
.wedo-list {
  display: flex;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.wedo-item:not(:last-child) {
  margin-right: 30px;
}
.image-overlay {
  position: relative;
}
.img-text-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 27px 82px;
  color: var(--primary-background-color);
  background-color:rgba(47, 48, 58, 0.8);
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 400;
}
/* *************************************************** */
/* Стилизация секции "Наша команда" */
.team {
  padding: 94px 0;
  background-color: #f5f4fa;
}
.ourt-title {
  margin-bottom: 50px;
}
.our-team {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  font-size: 16px;
  line-height: 1.18;
  /* identical to box height */
  text-align: center;
}
.our-team .title {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  /* identical to box height */
  text-align: center;
}
.our-team-item:not(:last-child) {
  margin-right: 30px;
}
.our-team-item {
  width: 270px;
  background-color: var(--primary-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.member-box {
  padding: 30px 20px;
}
.member-box .title {
  margin-bottom: 10px;
}
.member-job {
  margin-bottom: 16px;
}
.svg-list {
  display: flex;
  justify-content: center;
}
.svg-list-item:not(:last-child) {
  margin-right: 10px;
}
.svg-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--svg-primary-color);
  background-color: transparent;
  transition: color 250ms var(--cubic-transition), background-color 250ms var(--cubic-transition);
}
.svg-link:hover,
.svg-link:focus {
  color : var(--primary-background-color);
  background-color: var(--accent-color);
}
/* *************************************************** */
/* Стилизация секции "Постоянные клиенты" */
.clients {
  padding: 94px 0;
}
.client-list {
  display: flex;
  width: 1170px;
}
.client-list-item:not(:last-child) {
  margin-right: 30px;
}
.client-list-item{
  width:170px;
  height: 90px;
}
.client-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  border: 1px solid var(--svg-primary-color);
  border-radius: 4px;
  color: var(--svg-primary-color);
  transition: color 250ms var(--cubic-transition), border-color 250ms var(--cubic-transition);
}
.client-list-link:hover,
.clent-list-link:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}
.client-svg {
  fill: currentColor;
}
/* *************************************************** */
/* Стилизация portfolio.html */
.bottom-underline {
  border: 1px solid #ececec;
}
.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}
/* *************************************************** */
/* Стилизация кнопок */
.nav-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 0;
  margin-left: 0;
}
.nav-buttons .button {
  background-color: #f5f4fa;
  color: #212121;
  padding: 6px 22px;
  border-radius: 4px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  /* identical to box height, or 162% */
  text-align: center;
  cursor: pointer;
  transition: color 250ms var(--cubic-transition), background-color 250ms var(--cubic-transition), box-shadow 250ms var(--cubic-transition);
} 
.nav-buttons .button:hover,
.nav-buttons .button:focus {
  background-color: var(--accent-color);
  color: var(--primary-background-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.btn-item:not(:last-child) {
  margin-right: 8px;
}
/* *************************************************** */
/* Стилизация карточек */
.projects-cards {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}
.project-item {
  margin-right: 30px;
  margin-bottom: 30px;
  width: 370px;
}
.project-item:nth-child(3n){
  margin-right: 0px;
}
.project-item:nth-last-child(-n + 3){
  margin-bottom: 0px;
}
.card {
  color: var(--primary-text-color);
  display:block;
  font-size: 16px;
  line-height: 1.87;
  
}
 .card:hover,
 .card:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.cards-text {
  padding: 20px 23px;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  box-sizing: border-box;
}
.card-title {
  color: var(--title-text-color);
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  /* identical to box height, or 200% */
  letter-spacing: 0.06em;
} 
/* Cards animation thingy */
.card-thumb {
  position: relative;
  overflow: hidden;
}
.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--primary-background-color);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 63px 24px;
}

.project-item:hover .card-overlay {
  transform: translateY(0);
}
.card-thumb:hover::before {
  opacity: 1;
}
